/* Body */

body {
    font-family: 'Roboto', sans-serif;
    background-color: #000000;
}

h1, h2, h3, h5 {
    font-family: 'Girassol', sans-serif;
    color:  #f8f9fa;
    letter-spacing: 4px;
}

/* bg Colors */

#bg-color--brand {
    color: #FFB325;
}

.bg-color--navbar {
    background-color: rgba(0,0,0,0.7);
}

.bg-color--jumbotron {
    background-color: rgba(0,0,0,0.8);
}

/* Navigation Bar */

.navbar--container {
    position: fixed;
    padding-right: 0px;
    padding-left: 0px;
    top: 0;
    left: 0;
    z-index: 1;
    }

.navbar--menu {
    padding: 0 20px 0 20px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom: 1px solid #FFB325;
    font-size: 1rem;
}

.nav-item  {
    padding-right: 10px;
    padding-left: 10px;
}

.navbar-nav {
    padding-right: 170px;
}

/*  Navbar Brand  */

.navbar--brand {
    font-family: 'Girassol', sans-serif;
    font-size: 2rem;
    letter-spacing: 2px;
    margin-right: 0px;
}

/*  Navbar Dropdown Menu  */

.dropdown-menu {
    background-color: #FFB325;
}

.dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    color: #FFB325;
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

/* Navbar Active page */

.navbar-toggler:focus {
    outline-color: #FFB325;
}

.navbar-dark .navbar-nav .active>.nav-link {
    color: #FFB325;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #F2D750;
}

.dropdown-item.active, .dropdown-item:active {
    color: #000;
    text-decoration: none;
    background-color: #fff;
}

/* Buttons */

.btn--orange {
    background-color: #FFB325;
    width: fit-content;
    align-self: center;
    color: #000000;
}

.btn:hover {
    text-decoration: none;
    background-color: #F2D750;
}

a:hover {
    color: #000000;
    text-decoration: none;
}

/* Callout */

.callout-container {
    height: 100vh;
    background: url("../images/welcome.jpg") no-repeat top fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* Jumbotron */

.jumbotron--container {
    color: #f8f9fa;
    border: 1px solid #FFB325;
    margin-bottom: 0px;
}

.explore {
    padding-top: 30px;
}

/* Font-Awesome icons */

.fas,
.fab,
.fa {
    color: #FFB325;
    font-size: 25px;
}

/* Icon zoom */

.zoom {
  transition: transform .2s;
}

.zoom:hover {
  transform: scale(2.0); 
}

/* Section Headings */

.section-heading--container {
    margin-top: 0px;
}

.section-heading {
    padding-bottom: 0px;
    letter-spacing: 4px;
    color: #f8f9fa;
}

/* Block Dividers */

.blok--divider {
    border-top: 3px solid #FFB325 ;
}

.blok--divider--short {
    width: 100px;
    border-top: 3px solid #FFB325 ;
}

.blok--divider--medium {
    width: 200px;
    border-top: 3px solid #FFB325 ;
}

/* Cards */

.card {
    background-color: #000000;
    border: none; 
}

.card-body {
    color: #f8f9fa;
}

.card-title {
    letter-spacing: 1.5px;
    font-size: 1.7rem;
}

/* Footer */

.footer--container {
    color: #f8f9fa;
    border-top: 1px solid #FFB325;
    margin-top: 50px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.list-inline-item a {
    color: #FFB325;
}

.list-inline-item a:hover {
    text-decoration: underline;
}

/* Planets Section*/

.planets--section {
    background: url("../images/planets-background.jpg") no-repeat top fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}

/* Facts Section */

.table {
    color: #FFB325;
}

.facts--text {
    color: #f8f9fa;
}

/* About.html */

.about--section {
    padding-top: 80px;
}

.about--text p {
    color: #f8f9fa;
    font-size: 22px;
}

p strong {
    color: #FFB325;
    font-size: 35px;
}

/* Contact Us */

.contact--items {
    color: #f8f9fa;
    border: 1px solid orange;
    border-radius: 30px;
}

/* Social Links */

.social-links {
    letter-spacing: 4px;
}