/* Site scroll behavior */

html {
    scroll-behavior: smooth;
}

/* Body */

body {
    font-family: 'Roboto', sans-serif;
    background-color: #000000;
}

h1, h2, h3, h5 {
    font-family: 'Girassol', sans-serif;
    color:  #fff;
    letter-spacing: 4px;
}

/* Bg color Brand */

#bg-color--brand {
    color: #ffb325;
    text-decoration: none;
}

/* Bg color Jumbotron and Navbar */

.bg-color--transparent {
    background-color: rgba(0,0,0,0.7);
}

/* Shadow */

/* Navbar, Jumbotron, Explore section*/

.around-shadow {
    box-shadow: 1px 0px 11px 3px #000;
}

/* Navigation Bar */

.navbar--container {
    position: fixed;
    padding-right: 0px;
    padding-left: 0px;
    top: 0;
    left: 0;
    z-index: 1;
}

.navbar-collapse {
    justify-content: space-evenly;
}

/* Bottom orange border */

.navbar--menu {
    padding: 0 20px 0 20px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom: 1px solid #ffb325;
    font-size: 1rem;
}

.nav-item  {
    padding-right: 10px;
    padding-left: 10px;
}

/* Navbar menu display */

.navbar-nav {
    display: flex;
    justify-content: center;
    list-style: none;
    position: relative;
    flex-direction: row;
}

.navbar-nav .dropdown-menu {
    position: absolute;
    float: none;
}

/*  Navbar Dropdown Menu  */

/* Dropdown background color */

.dropdown-menu {
    background-color: #ffb325;
    text-align: center;
    border-radius: .80rem;
    padding-right: 5px;
    padding-left: 5px;
    min-width: 8rem;
    letter-spacing: 1.5px;
}

/* Drop down menu hovering color*/

.dropdown-item:hover {
    color: #ffb325;
    text-decoration: none;
    background-color: #000;
    border-radius: 10px;
}

/* Drop down menu active page */

.dropdown-item.active, .dropdown-item:active {
    color: #FFB325;
    text-decoration: none;
    background-color: #000;
    border-radius: 10px;
    margin-bottom: 3px;
    margin-top: 3px;
}

/* Drop down toggle indicator */

.navbar-toggler:focus {
    outline-color: #ffb325;
}

.dropdown-toggle::after {
    color: #ffb325;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

/* Microsoft Edge bug fix */

#navbarNavDropdown {
    display: -ms-inline-grid !important;
}

/*  Navbar Brand  */

.navbar--brand {
    font-family: 'Girassol', sans-serif;
    font-size: 1.5em;
    letter-spacing: 2px;
    margin-right: -130px;
    z-index: 1;
}

/* Navbar Active page */

/* Active */

.navbar-dark .navbar-nav .active>.nav-link {
    color: #ffb325;
}

/* Hover */

.navbar-dark .navbar-nav .nav-link:hover {
    color: #f2d750;
}

/* After pressed */

.navbar-dark .navbar-nav .show>.nav-link {
    color: #f2d750;
}

/* Buttons */

.btn {
    border: none;
}

/* Orange buttons with insert shadows */

.btn--orange {
    background-color: #ffb325;
    box-shadow: inset 1px 0px 13px 0px #000;
    border-radius: .80rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    color: #000;
}

/* Buttons on hovering */

.btn:hover {
    color: #ffb325;
    text-decoration: none;
    box-shadow: 1px 0px 11px 3px #ffb325;
    background: #000;
}

/* Buttons on focus */

.btn:focus {
    outline: 0;
    box-shadow: 1px 0px 11px 3px #ffb325;
}

/* Call to action  */

/* Explore message */

.call--button {
    color:#FFB325;
    font-family: 'Girassol', sans-serif;
    font-size: 2rem;
    letter-spacing: 4px;
    border-radius: 15px;
    padding: 8px;
}

/* Explore message on hovering / pressing */

.jumbotron a:hover {
    color: #000000;
    padding: 8px;
    box-shadow: inset 0px 0px 10px 0px #000000;
    border-radius: 15px;
    background-color: #ffb325;
    text-decoration: none;
}

/* Home page */

/* Bg image */

.landing { 
    height: 100vh;
    padding-left: 0px;
    padding-right: 0px;
    background: url("../images/welcome.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Jumbotron */

.jumbotron--container {
    padding-bottom: 15px;
    margin-bottom: 0px;
    padding-top: 15px;
}

/* Jumbotron border and text color */

.jumbotron {
    margin-top: 15vh;
    border-radius: 30px;
    border-bottom:1px solid #ffb325;
    border-top: 1px solid #ffb325;
    color: #fff;
}

/* Scroll down icon animation  */

/* Taken from CodePen Made by Thomas Nägele */

.arrow--container {
    position: absolute;
    bottom: 10px;
}

/* For display icons horizontaly */

.chevron {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 10px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

/* Icons colour */

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #ffb325;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

/* Scroll down message */

.text {
  display: block;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 1rem;
  color: #ffb325;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: .25;
  animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}

/* Social links icon zoom */

.zoom {
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  -o-transition: transform .2s;
  transition: transform .2s;
}

.zoom:hover {
  -webkit-transform: scale(2.0);
      -ms-transform: scale(2.0);
          transform: scale(2.0); 
}

/* Social network icons */

/* Colour */

.fas,
.fab,
.fa {
    color: #ffb325;
    font-size: 25px;
}

.social-links {
    letter-spacing: 4px;
}

/* Section Headings container */

.section-heading--container {
    margin-top: 0px;
}

/* Explore section heading */

.section-heading {
    padding-bottom: 0px;
    letter-spacing: 4px;
    color: #fff;
}

/* Block Dividers */

.blok--divider {
    border-top: 3px solid #ffb325 ;
}

.blok--divider--short {
    width: 100px;
    border-top: 3px solid #ffb325 ;
}

.blok--divider--medium {
    width: 200px;
    border-top: 3px solid #ffb325 ;
}

/* Cards */

/* Explore section planet holders */

/* Short facts text colour */

.card-body {
    color: #fff;
}

/* Bg colour */

.card {
    background-color: #000000;
    border: none; 
}

/* Explore section name and planets pages facts and profile heading */

.card-title {
    letter-spacing: 1.5px;
    font-size: 1.7rem;
}

/* Footer */

/* Footer orange border */

.footer--container {
    color: #fff;
    border-top: 1px solid #ffb325;
    margin-top: 50px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

/* Links colour */

.list-inline-item a {
    color: #ffb325;
}

/* Undeline text decoration on hovering */

.list-inline-item a:hover {
    text-decoration: underline;
}

/* Planets Section */

/* Bg image */

.planets--section {
    background: url("../images/planet_background.jpg") no-repeat top fixed;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    position: relative;
}

/* Carousel */

/* Position of image indicators */

.carousel-indicators {
    margin-bottom: 0px;
}

/* Stlye of image indicators */

.carousel-indicators li {
    width: 40px;
    height: 5px;
    margin-right: 5px;
    margin-left: 5px;
    transition: none;
}

/* Active image of planet */

.carousel-indicators .active {
    opacity: 1;
    background-color: #ffb325;
}

/* Position of next / previous indicators */

.carousel-control-next, .carousel-control-prev {
    align-items: flex-end;
}

/* Facts Section */

/* Planet profile table colour */

.table {
    color: #ffb325;
}

/* Planet Facts text */

.facts--text {
    color: #fff;
    list-style: none;
    padding-left: 0px;
    text-align: center;
    letter-spacing: 0.8px;
}

/* About.html */

.about--section {
    padding-top: 80px;
}

/* Text Colour */

.about--text p {
    color: #fff;
    font-size: 22px;
}

/* Message colour */

p strong {
    color: #ffb325;
    font-size: 1.875rem;
}

/* Links on hovering  */

.about--section a:hover {
    color: #ffb325;
    text-decoration: none;
}

/* Contact Us */

.contact--items {
    color: #fff;
    border: 1px solid #ffb325;
    border-radius: 30px;
}

/* Quick Navigation */

/* Font  */

.quick--nav {
  font-size: 1rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  border-radius: 20px;
}

.quick--nav .col {
    padding-left: 0px;
    padding-right: 0px;
}

/* Buttons style */

.quick--nav a {
  color: #a7a7a7;
  border-radius: 20px;
  border-top: 1px solid #ffb325;
  border-bottom: 1px solid #ffb325;
  padding: 8px;
  text-decoration: none;
}

/* Button when pressed / hover */

.quick--nav a:focus,
.quick--nav a:hover {
    color: #000;
    background-color: #ffb325;
    box-shadow: inset 1px 0px 13px 0px #000;
}

/* Active page */

.quick--nav a.current {
    color: #000;
    padding-right: 0px;
    background: #ffb325;
    padding: 8px;
    box-shadow: inset 1px 0px 13px 0px #000;
}