/* Body */


body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
}

h1, h2, h5 {
    font-family: 'Girassol', sans-serif;
}

/* Colors */


#bg-color--brand {
    color: #FFB325;
}


.bg-color--navbar {
    background-color: rgba(0,0,0,0.7);
}

.bg-color--jumbotron {
    background-color: rgba(0,0,0,0.5);
}


/* Navigation Bar */


.navbar--container {
  position: fixed;
  padding-right: 0px;
  padding-left: 0px;
  top: 0;
  left: 0;
  z-index: 1;
}


.navbar--menu {
    padding: 0 10px 0 10px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom: 1px solid #FFB325;
    font-size: 1rem;
}


.nav-item  {
    padding-right: 10px;
    padding-left: 10px;
}

.navbar-nav {
    margin: auto;
    padding-right: 60px;

}
/*  Navbar Brand  */


.navbar-brand {
    font-family: 'Girassol', sans-serif;
    font-size: 2.2rem;
    letter-spacing: 4px;
    margin-right: 0px;
}


/*  Navbar Dropdown Menu  */


.dropdown-menu {
    background-color: #FFB325;
}


.dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    color: #FFB325;
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}


.navbar-toggler:focus {
    outline-color: #FFB325;
}


.navbar-dark .navbar-nav .active>.nav-link {
    color: #FFB325;
}


.navbar-dark .navbar-nav .nav-link:hover {
    color: #F2D750;
}


/* Buttons */


.btn-orange {
    background-color: #FFB325;
}

.btn:hover {
    text-decoration: none;
    background-color: #F2D750;
}

/* Callout */

.callout-container {
    height: 100vh;
    background: url("/assets/images/welcome.jpg") no-repeat top fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* Jumbotron */

.jumbotron-container {
    color: white;
    border: 1px solid #FFB325;
    margin-bottom: 0px;
    margin-top: 64px;
}
.explore {
    padding-top: 30px;
}

.fas {
    color: #FFB325;
}

/* Section Headings */

.section-heading--container {
    margin-top: 0px;
}

.section-heading {
    padding-bottom: 0px;
    padding-top: 50px;
    letter-spacing: 4px;
    color: white;
}


/* Block Dividers */


.blok-divider {
    border-top: 3px solid #FFB325 ;
}


.blok-divider--short {
    width: 100px;
    border-top: 3px solid #FFB325 ;
}

.blok-divider--medium {
    width: 200px;
    border-top: 3px solid #FFB325 ;
}

/* Planet Section */

.planets {
    padding-top: 50px;
}


/* Cards */


.card {
    background-color: black;
    border: none; 
}

.card-body {
    color: white;
}

.card-title {
    letter-spacing: 1.5px;
    font-size: 1.7rem;
}

